* {
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    color: #fff;
    height: 60px;
    padding: 20px;
}
#title {
    display: flex;
    align-items: center;
    gap: 10px;
}

#logo {
    font-size: 20px;
    font-weight: bold;
    color: #da1c1c;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
@media screen and (max-width: 600px) {
    #logo {
        font-size: 15px;
        width: 30px;
        height: 30px;
    }
    #title H1 {
        font-size: 18px;
    }
    
}